input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    font-weight: 400;
    font-size: 14px;
}

.profilePic {
    width: 100%;
}

.stretched-link::after {
    z-index: 0;
}

input[type="radio"] + label span {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #ffffff;
}

input[type="radio"] + label span {
    background-color: #fff;
}

input[type="radio"]:checked + label {
    font-weight: 700;
}

input[type="radio"]:checked + label span {
    background-color: #ff8800;
    border: 2px solid #ffffff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .1);
}

input[type="radio"] + label span, input[type="radio"]:checked + label span {
    -webkit-transition: background-color 0.24s linear;
    -o-transition: background-color 0.24s linear;
    -moz-transition: background-color 0.24s linear;
    transition: background-color 0.24s linear;
}

.floatingButton {
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
}

.photo {
    width: 20px;
    height: 20px;
    overflow: hidden;
    border-radius: 50%;
}

.personPhoto {
    width: auto;
    height: 100%;
    margin: 0 auto;
}